/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
}
a, input, img {
    display: block;
}
a {
    text-decoration: none;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.first_screen {
    height: 775px;
    background-color: #9CF3F9;
}
.header {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 485px;
}
ul a {
    color: #252641;
    font-size: 18px;
}
.btn_phone {
    background-color: #FEB101;
    border-radius: 80px;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 220px;
    height: 48px;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 16px;
}
.offer-box {
    display: flex;
    justify-content: space-between;
}
.btn_play {
    display: flex;
    justify-content: space-between;
}
.offer {
    width: 535px;
    margin-top: 136px;
}
.offer h1 {
    color: black;
    font-weight: 900;
    font-size: 58px;
    line-height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}
.offer h1 span {
    color: #B25A59;
}
.offer p {
    font-family: 'Nunito Sans';
    font-size: 24px;
    line-height: 33px;
    color: #0C0C0C;
    width: 433px;
    margin: 30px 0;
}
.offer p span {
    color: #B25A59;
    font-weight: 800;
}
.offer-box img {
    width: 500px;
    height: 500px;
    margin-top: 53px;
}
.btn_red {
    width: 252px;
    height: 60px;
    background: #B25A59;
    border-radius: 80px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 18px 0;
}
.btn_play {
    width: 222px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    align-items: center;
}
.btn_play p {
    font-size: 16px;
    color: #252641;
    margin-left: 10px;
}
.btn_play img {
    margin: 0;
    width: 55px;
    height: 55px;
    box-shadow: 2px 20px 60px rgba(61, 155, 185, 0.1);
}
.btn_play span {
    color: #7F2736;
}
.btn {
    display: flex;
    justify-content: space-between;
    width: 504px;
}
.second_screen {
    background-color: white;
    height: 775px;
}
.text_1 h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #020202;
    text-align: center;
    margin-top: 126px;
}
.text_1 span {
    font-weight: 700;
    text-transform: uppercase;
    color: #7F2736;
}
.text_1 p {
    width: 800px;
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #2C2D32;
    margin: 30px auto;
}
.text_1 {
    align-items: center;
}
.photo_country img {
    width: 345px;
    border-radius: 10%;
}
.photo_country figcaption {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #7F2736;
    margin-top: 30px;
}
.photo_country {
        display: flex;
        justify-content: space-between;
}
.btn_2 {
    width: 1100px;
    margin-top: 30px;
    margin-left: 424px;
}
.third_screen {
    height: 690px;
    background-color: rgba(156, 243, 249, 0.49);
}
.third_screen h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2C2D32;
    padding-top: 50px;
}
.third_screen span {
    font-weight: 700;
    text-transform: uppercase;
    color: #7F2736;
}
.third_screen p {
    padding-top: 30px;
    width: 800px;
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 30px;
    color: #2C2D32;
    text-align: center;
    margin: 0 150px;
}
.photo_start_trip {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.photo_start_trip div {
    height: 350px;
    width: 535px;
    padding: 104px 0;
    border-radius: 20px;
}
.photo_start_trip_1 {
    background-image: url(img/domestic.png);
    background-repeat: no-repeat;
}
.photo_start_trip_1 div {
    background-color: rgba(127, 39, 54, 0.6);
    margin-top: -104px;
}
.photo_start_trip_2 div {
    background-color: rgba(127, 39, 54, 0.6);
    margin-top: -104px;
}
.photo_start_trip_2 {
    background-image: url(img/international.png);
    background-repeat: no-repeat;
}
.photo_start_trip h3 {
    font-weight: 600px;
    font-size: 32px;
    text-align: center;
    color: white;
}
.photo_start_trip div a {
    margin: 30px auto 0;
    border: 1px solid white;
    border-radius: 80px;
    width: 252px;
    text-align: center;
    padding: 21px 0;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.four_screen {
    height: 457px;
    background-color: white;
}
.four_screen .container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}
.four_screen .text_3 {
    width: 535px;
}
.four_screen h2 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    color: #2C2D32;
    padding-top: 76px;
}
.four_screen span {
    font-weight: 700;
    text-transform: uppercase;
    color: #7F2736;
}
.four_screen p {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 170%;
    color: #2C2D32;
    margin-top: 30px;
}
.text_3 a {
    margin-top: 30px;
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 180%;
    text-decoration-line: underline;
    color: #EE5060;
}
.photo_video {
    margin-top: 50px;
    border-radius: 20px;
}
.btn_play_video img {
    margin-top: -210px;
    margin-left: 240px;
}
.five_screen {
    height: 700px;
    background-color: rgba(156, 243, 249, 0.49);
}
.five_screen h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #2C2D32;
    padding-top: 50px;
    padding-left: 420px;
}
.five_screen span {
    font-weight: 700;
    text-transform: uppercase;
    color: #7F2736;
}
.text_4 p {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #2C2D32;
    width: 970px;
    padding-top: 30px;
    padding-left: 164px;
}
.blocks {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.block_1 {
    width: 330px;
    height: 345px;
    background-color: white;
    border-radius: 20px;
}
.figura_1 {
    width: 67px;
    height: 67px;
    background-color: #EE5060;
    border-radius: 100%;
    margin-top: 50px;
    margin-left: 130px;
}
.figura_2 {
    width: 67px;
    height: 67px;
    background-color: #F0C53E;
    border-radius: 100%;
    margin-top: 50px;
    margin-left: 130px;
}
.figura_2 img {
    padding-top: 15px;
    margin-left: 15px;
}
.figura_3 {
    width: 67px;
    height: 67px;
    background-color: #AF6C2C;
    border-radius: 100%;
    margin-top: 50px;
    margin-left: 130px;
}
.figura_3 img {
    padding-top: 10px;
    margin-left: 10px;
}
.figura_1 img {
    padding-top: 12px;
    margin-left: -2px;
}
.block_1 h3 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #7F2736;
    margin-top: 27px;
}
.block_1 p {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2C2D32;
    width: 310px;
    margin-left: 15px;
    margin-top: 28px;
}
.six_screen {
    height: 526px;
    background-color: white;
}
.seven_screen {
    height: 315px;
    background-color: #9CF3F9;
}
.end {
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 330px;
    align-items: center;
}
.logo img {
    width: 159px;
    height: 62px;
    margin-right: 0;
}
.logo h2 {
    padding-left: 30px;
    width: 133px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    border-left: 1px solid #7F2736;
}
.email h2 {
    padding-top: 40px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}
form {
    display: flex;
    justify-content: space-between;
}
.form {
    width: 475px;
}
.email .label {
    border: 1px solid #B25A59;
    border-radius: 80px;
    padding: 13px 0;
    padding-left: 30px;
    width: 300px;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0);
}
.label::placeholder {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    color: #2C2D32;
}
.email .submit {
    width: 150px;
    height: 50px;
    color: white;
    background-color: #B25A59;
    border: 1px solid #B25A59;
    border-radius: 60px;
    margin-top: 25px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.end_menu {
    width: 396px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-left: 350px;
}
.end_menu a {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2C2D32;
}
.year p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    padding-top: 30px;
}
.border_left {
    border-left: 1px solid #2C2D32;
    padding-left: 15px;
}
.text_5 {
    width: 408px;
    margin-top: 50px;
}
.text_5 h2 {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    padding-bottom: 15px;
}
.text_5 span { 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: #7F2736;
}
.text_5 p {
    padding-top: 15px;
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    color: #2C2D32;
}
.text_5 a {
    width: 347px;
    height: 69px;
    margin-top: 30px;
    border: 1px solid #EE5060;
    border-radius: 80px;
    padding-left: 58px;
    padding-top: 21px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.text_5 img {
    margin-top: -69px;
    margin-left: 278px;
}
.comment_flex {
    display: flex;
    justify-content: space-between;
}
.comment {
    width: 629px;
    margin-top: 50px;
}
.comment_block {
    position: relative;
    width: 629px;
    height: 224px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -80px;
    padding-top: 20px;
    box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
}
.comment_text {
    margin-top: 10px;
    border-left: 2px solid #BDBDD1;
    margin-left: 30px;
    padding-left: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2C2D32;
}
.comment_text p {
    width: 555px;
}
.br {
    padding-top: 15px;
}
.autor_and_stars p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #2C2D32;
    margin-top: 15px;
    margin-left: 30px;
}
.autor_and_stars {
    display: flex;
    justify-content: space-between;
}
.stars {
    display: flex;
    justify-content: space-between;
    width: 137px;
    margin-top: 15px;
    margin-right: 30px;
}
.stars img {
    width: 23.98px;
    height: 23.98px;
}
.a_skip {
    box-shadow: 0px 4px 6px rgba(41, 44, 124, 0.4);
    width: 50px;
    border-radius: 100%;
    margin-left: 573px;
    margin-top: -45px;
}